---- 05 CREATE TYPES IF NEEDED 
--USE [HSP_Supplemental]
--GO
--CREATE TYPE [dbo].[AccountNumber_t] FROM [varchar](35) NULL
--GO
--CREATE TYPE [dbo].[Address_t] FROM [varchar](55) NULL
--GO
--CREATE TYPE [dbo].[City_t] FROM [varchar](30) NULL
--GO
--CREATE TYPE [dbo].[ClaimNumber_t] FROM [varchar](20) NULL
--GO
--CREATE TYPE [dbo].[Code_t] FROM [varchar](3) NULL
--GO
--CREATE TYPE [dbo].[County_t] FROM [varchar](30) NULL
--GO
--CREATE TYPE [dbo].[Data_t] FROM [varchar](8000) NULL
--GO
--CREATE TYPE [dbo].[Date_t] FROM [datetime] NULL
--GO
--CREATE TYPE [dbo].[Description_t] FROM [varchar](80) NULL
--GO
--CREATE TYPE [dbo].[Email_t] FROM [varchar](80) NULL
--GO
--CREATE TYPE [dbo].[ErrorMsg_t] FROM [varchar](128) NULL
--GO
--CREATE TYPE [dbo].[FirstName_t] FROM [varchar](25) NULL
--GO
--CREATE TYPE [dbo].[FullName_t] FROM [varchar](64) NULL
--GO
--CREATE TYPE [dbo].[Gender_t] FROM [varchar](1) NULL
--GO
--CREATE TYPE [dbo].[HealthCareCode_t] FROM [varchar](30) NULL
--GO
--CREATE TYPE [dbo].[Id_t] FROM [int] NULL
--GO
--CREATE TYPE [dbo].[IDNumber_t] FROM [varchar](9) NULL
--GO
--CREATE TYPE [dbo].[LastName_t] FROM [varchar](35) NULL
--GO
--CREATE TYPE [dbo].[MiddleInitial_t] FROM [varchar](1) NULL
--GO
--CREATE TYPE [dbo].[MiddleName_t] FROM [varchar](25) NULL
--GO
--CREATE TYPE [dbo].[Modifier_t] FROM [varchar](2) NULL
--GO
--CREATE TYPE [dbo].[Money_Extended_t] FROM [decimal](30, 10) NULL
--GO
--CREATE TYPE [dbo].[Money_t] FROM [money] NULL
--GO
--CREATE TYPE [dbo].[Name_t] FROM [varchar](60) NULL
--GO
--CREATE TYPE [dbo].[Number_t] FROM [varchar](32) NULL
--GO
--CREATE TYPE [dbo].[Phone_t] FROM [varchar](80) NULL
--GO
--CREATE TYPE [dbo].[PhoneExt_t] FROM [varchar](4) NULL
--GO
--CREATE TYPE [dbo].[PostalCode_t] FROM [varchar](15) NULL
--GO
--CREATE TYPE [dbo].[Prefix_t] FROM [varchar](10) NULL
--GO
--CREATE TYPE [dbo].[ProcedureCode_t] FROM [varchar](48) NULL
--GO
--CREATE TYPE [dbo].[Real_t] FROM [real] NULL
--GO
--CREATE TYPE [dbo].[REFNumber_t] FROM [varchar](30) NULL
--GO
--CREATE TYPE [dbo].[State_t] FROM [varchar](2) NULL
--GO
--CREATE TYPE [dbo].[StringLong_t] FROM [varchar](1000) NULL
--GO
--CREATE TYPE [dbo].[StringMedium_t] FROM [varchar](255) NULL
--GO
--CREATE TYPE [dbo].[StringShort_t] FROM [varchar](32) NULL
--GO
--CREATE TYPE [dbo].[Suffix_t] FROM [varchar](10) NULL
--GO
--CREATE TYPE [dbo].[Type_t] FROM [varchar](32) NULL
--GO
--CREATE TYPE [dbo].[YesNo_t] FROM [varchar](1) NULL
--GO
--CREATE TYPE [dbo].[Zip_t] FROM [char](5) NULL
--GO
--CREATE TYPE [dbo].[ZipPlus4_t] FROM [char](4) NULL
--GO
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
