USE [master]
GO
/****** Object:  Database [X12834]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE DATABASE [X12834]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'X12834', FILENAME = N'E:\Data\X12834.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'X12834_log', FILENAME = N'F:\Log\X12834_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [X12834].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [X12834]
GO
USE [X12834]
GO
/****** Object:  User [IEHP\Model Office EDI Admins]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE USER [IEHP\Model Office EDI Admins] FOR LOGIN [IEHP\Model office EDI Admins]
GO
/****** Object:  User [IEHP\IT_QA_USER]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE USER [IEHP\IT_QA_USER] FOR LOGIN [IEHP\IT_QA_USER]
GO
/****** Object:  User [IEHP\DataManagement_Developer]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE USER [IEHP\DataManagement_Developer] FOR LOGIN [IEHP\DataManagement_Developer]
GO
/****** Object:  User [IEHP\_EDPIntake]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE USER [IEHP\_EDPIntake] FOR LOGIN [IEHP\_EDPIntake]
GO
/****** Object:  DatabaseRole [db_executor]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE ROLE [db_executor]
GO
ALTER ROLE [db_executor] ADD MEMBER [IEHP\Model Office EDI Admins]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IEHP\Model Office EDI Admins]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IEHP\Model Office EDI Admins]
GO
ALTER ROLE [db_executor] ADD MEMBER [IEHP\IT_QA_USER]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IEHP\IT_QA_USER]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IEHP\IT_QA_USER]
GO
ALTER ROLE [db_executor] ADD MEMBER [IEHP\DataManagement_Developer]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IEHP\DataManagement_Developer]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IEHP\DataManagement_Developer]
GO
ALTER ROLE [db_executor] ADD MEMBER [IEHP\_EDPIntake]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IEHP\_EDPIntake]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IEHP\_EDPIntake]
GO
/****** Object:  Schema [X12834]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE SCHEMA [X12834]
GO
/****** Object:  Table [X12834].[DatabaseInfo]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[DatabaseInfo](
	[AgentNumber] [tinyint] NULL,
	[IsAgent]  AS (CONVERT([bit],case when [AgentNumber] IS NOT NULL then (1) else (0) end)),
	[DeployedAt] [datetime2](7) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L1000]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L1000](
	[L1000Id] [bigint] IDENTITY(1,10) NOT NULL,
	[X12Id] [bigint] NOT NULL,
	[BGN01] [varchar](256) NULL,
	[BGN02] [varchar](256) NULL,
	[BGN03] [varchar](256) NULL,
	[BGN04] [varchar](256) NULL,
	[BGN05] [varchar](256) NULL,
	[BGN06] [varchar](256) NULL,
	[BGN07] [varchar](256) NULL,
	[BGN08] [varchar](256) NULL,
	[BGN09] [varchar](256) NULL,
	[L1000_REF01] [varchar](256) NULL,
	[L1000_REF02] [varchar](256) NULL,
	[L1000_REF03] [varchar](256) NULL,
	[L1000A_N101] [varchar](256) NULL,
	[L1000A_N102] [varchar](256) NULL,
	[L1000A_N103] [varchar](256) NULL,
	[L1000A_N104] [varchar](256) NULL,
	[L1000A_N105] [varchar](256) NULL,
	[L1000A_N106] [varchar](256) NULL,
	[L1000B_N101] [varchar](256) NULL,
	[L1000B_N102] [varchar](256) NULL,
	[L1000B_N103] [varchar](256) NULL,
	[L1000B_N104] [varchar](256) NULL,
	[L1000B_N105] [varchar](256) NULL,
	[L1000B_N106] [varchar](256) NULL,
 CONSTRAINT [PK_L1000] PRIMARY KEY CLUSTERED 
(
	[L1000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L1000_DTP]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L1000_DTP](
	[L1000_DTPId] [bigint] IDENTITY(1,10) NOT NULL,
	[L1000Id] [bigint] NOT NULL,
	[L1000_DTP01] [varchar](256) NULL,
	[L1000_DTP02] [varchar](256) NULL,
	[L1000_DTP03] [varchar](256) NULL,
 CONSTRAINT [PK_L1000_DTP] PRIMARY KEY CLUSTERED 
(
	[L1000_DTPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L1000_QTY]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L1000_QTY](
	[L1000_QTYId] [bigint] IDENTITY(1,10) NOT NULL,
	[L1000Id] [bigint] NOT NULL,
	[L1000_QTY01] [varchar](256) NULL,
	[L1000_QTY02] [varchar](256) NULL,
	[QTY03_01] [varchar](256) NULL,
	[QTY03_02] [varchar](256) NULL,
	[QTY03_03] [varchar](256) NULL,
	[QTY03_04] [varchar](256) NULL,
	[QTY03_05] [varchar](256) NULL,
	[QTY03_06] [varchar](256) NULL,
	[QTY03_07] [varchar](256) NULL,
	[QTY03_08] [varchar](256) NULL,
	[QTY03_09] [varchar](256) NULL,
	[QTY03_10] [varchar](256) NULL,
	[QTY03_11] [varchar](256) NULL,
	[QTY03_12] [varchar](256) NULL,
	[QTY03_13] [varchar](256) NULL,
	[QTY03_14] [varchar](256) NULL,
	[QTY03_15] [varchar](256) NULL,
	[L1000_QTY04] [varchar](256) NULL,
 CONSTRAINT [PK_L1000_QTY] PRIMARY KEY CLUSTERED 
(
	[L1000_QTYId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L1000C]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L1000C](
	[L1000CId] [bigint] IDENTITY(1,10) NOT NULL,
	[L1000Id] [bigint] NOT NULL,
	[L1000C_N101] [varchar](256) NULL,
	[L1000C_N102] [varchar](256) NULL,
	[L1000C_N103] [varchar](256) NULL,
	[L1000C_N104] [varchar](256) NULL,
	[L1000C_N105] [varchar](256) NULL,
	[L1000C_N106] [varchar](256) NULL,
	[L1100C_ACT01] [varchar](256) NULL,
	[L1100C_ACT02] [varchar](256) NULL,
	[L1100C_ACT03] [varchar](256) NULL,
	[L1100C_ACT04] [varchar](256) NULL,
	[L1100C_ACT05] [varchar](256) NULL,
	[L1100C_ACT06] [varchar](256) NULL,
	[L1100C_ACT07] [varchar](256) NULL,
	[L1100C_ACT08] [varchar](256) NULL,
	[L1100C_ACT09] [varchar](256) NULL,
 CONSTRAINT [PK_L1000C] PRIMARY KEY CLUSTERED 
(
	[L1000CId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2000]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2000](
	[L2000Id] [bigint] IDENTITY(1,10) NOT NULL,
	[L1000Id] [bigint] NOT NULL,
	[L2000_INS01] [varchar](256) NULL,
	[L2000_INS02] [varchar](256) NULL,
	[L2000_INS03] [varchar](256) NULL,
	[L2000_INS04] [varchar](256) NULL,
	[L2000_INS05] [varchar](256) NULL,
	[INS06_01] [varchar](256) NULL,
	[INS06_02] [varchar](256) NULL,
	[INS06_03] [varchar](256) NULL,
	[INS06_04] [varchar](256) NULL,
	[L2000_INS07] [varchar](256) NULL,
	[L2000_INS08] [varchar](256) NULL,
	[L2000_INS09] [varchar](256) NULL,
	[L2000_INS10] [varchar](256) NULL,
	[L2000_INS11] [varchar](256) NULL,
	[L2000_INS12] [varchar](256) NULL,
	[L2000_INS13] [varchar](256) NULL,
	[L2000_INS14] [varchar](256) NULL,
	[L2000_INS15] [varchar](256) NULL,
	[L2000_INS16] [varchar](256) NULL,
	[L2000_INS17] [varchar](256) NULL,
	[L2000_SubscriberIdentifier_REF01] [varchar](256) NULL,
	[L2000_SubscriberIdentifier_REF02] [varchar](256) NULL,
	[L2000_SubscriberIdentifier_REF03] [varchar](256) NULL,
	[L2000_MemberPolicyNumber_REF01] [varchar](256) NULL,
	[L2000_MemberPolicyNumber_REF02] [varchar](256) NULL,
	[L2000_MemberPolicyNumber_REF03] [varchar](256) NULL,
	[L2100A_NM101] [varchar](256) NULL,
	[L2100A_NM102] [varchar](256) NULL,
	[L2100A_NM103] [varchar](256) NULL,
	[L2100A_NM104] [varchar](256) NULL,
	[L2100A_NM105] [varchar](256) NULL,
	[L2100A_NM106] [varchar](256) NULL,
	[L2100A_NM107] [varchar](256) NULL,
	[L2100A_NM108] [varchar](256) NULL,
	[L2100A_NM109] [varchar](256) NULL,
	[L2100A_NM110] [varchar](256) NULL,
	[L2100A_NM111] [varchar](256) NULL,
	[L2100A_NM112] [varchar](256) NULL,
	[L2100A_PER01] [varchar](256) NULL,
	[L2100A_PER02] [varchar](256) NULL,
	[L2100A_PER03] [varchar](256) NULL,
	[L2100A_PER04] [varchar](256) NULL,
	[L2100A_PER05] [varchar](256) NULL,
	[L2100A_PER06] [varchar](256) NULL,
	[L2100A_PER07] [varchar](256) NULL,
	[L2100A_PER08] [varchar](256) NULL,
	[L2100A_PER09] [varchar](256) NULL,
	[L2100A_N301] [varchar](256) NULL,
	[L2100A_N302] [varchar](256) NULL,
	[L2100A_N401] [varchar](256) NULL,
	[L2100A_N402] [varchar](256) NULL,
	[L2100A_N403] [varchar](256) NULL,
	[L2100A_N404] [varchar](256) NULL,
	[L2100A_N405] [varchar](256) NULL,
	[L2100A_N406] [varchar](256) NULL,
	[L2100A_N407] [varchar](256) NULL,
	[L2100A_DMG01] [varchar](256) NULL,
	[L2100A_DMG02] [varchar](256) NULL,
	[L2100A_DMG03] [varchar](256) NULL,
	[L2100A_DMG04] [varchar](256) NULL,
	[L2100A_DMG05_01] [varchar](256) NULL,
	[L2100A_DMG05_02] [varchar](256) NULL,
	[L2100A_DMG05_03] [varchar](256) NULL,
	[L2100A_DMG06] [varchar](256) NULL,
	[L2100A_DMG07] [varchar](256) NULL,
	[L2100A_DMG08] [varchar](256) NULL,
	[L2100A_DMG09] [varchar](256) NULL,
	[L2100A_DMG10] [varchar](256) NULL,
	[L2100A_DMG11] [varchar](256) NULL,
	[L2100A_ICM01] [varchar](256) NULL,
	[L2100A_ICM02] [varchar](256) NULL,
	[L2100A_ICM03] [varchar](256) NULL,
	[L2100A_ICM04] [varchar](256) NULL,
	[L2100A_ICM05] [varchar](256) NULL,
	[L2100A_ICM06] [varchar](256) NULL,
	[L2100A_HLH01] [varchar](256) NULL,
	[L2100A_HLH02] [varchar](256) NULL,
	[L2100A_HLH03] [varchar](256) NULL,
	[L2100A_HLH04] [varchar](256) NULL,
	[L2100A_HLH05] [varchar](256) NULL,
	[L2100A_HLH06] [varchar](256) NULL,
	[L2100B_NM101] [varchar](256) NULL,
	[L2100B_NM102] [varchar](256) NULL,
	[L2100B_NM103] [varchar](256) NULL,
	[L2100B_NM104] [varchar](256) NULL,
	[L2100B_NM105] [varchar](256) NULL,
	[L2100B_NM106] [varchar](256) NULL,
	[L2100B_NM107] [varchar](256) NULL,
	[L2100B_NM108] [varchar](256) NULL,
	[L2100B_NM109] [varchar](256) NULL,
	[L2100B_NM110] [varchar](256) NULL,
	[L2100B_NM111] [varchar](256) NULL,
	[L2100B_NM112] [varchar](256) NULL,
	[L2100B_DMG01] [varchar](256) NULL,
	[L2100B_DMG02] [varchar](256) NULL,
	[L2100B_DMG03] [varchar](256) NULL,
	[L2100B_DMG04] [varchar](256) NULL,
	[L2100B_DMG05_01] [varchar](256) NULL,
	[L2100B_DMG05_02] [varchar](256) NULL,
	[L2100B_DMG05_03] [varchar](256) NULL,
	[L2100B_DMG06] [varchar](256) NULL,
	[L2100B_DMG07] [varchar](256) NULL,
	[L2100B_DMG08] [varchar](256) NULL,
	[L2100B_DMG09] [varchar](256) NULL,
	[L2100B_DMG10] [varchar](256) NULL,
	[L2100B_DMG11] [varchar](256) NULL,
	[L2100C_NM101] [varchar](256) NULL,
	[L2100C_NM102] [varchar](256) NULL,
	[L2100C_NM103] [varchar](256) NULL,
	[L2100C_NM104] [varchar](256) NULL,
	[L2100C_NM105] [varchar](256) NULL,
	[L2100C_NM106] [varchar](256) NULL,
	[L2100C_NM107] [varchar](256) NULL,
	[L2100C_NM108] [varchar](256) NULL,
	[L2100C_NM109] [varchar](256) NULL,
	[L2100C_NM110] [varchar](256) NULL,
	[L2100C_NM111] [varchar](256) NULL,
	[L2100C_NM112] [varchar](256) NULL,
	[L2100C_N301] [varchar](256) NULL,
	[L2100C_N302] [varchar](256) NULL,
	[L2100C_N401] [varchar](256) NULL,
	[L2100C_N402] [varchar](256) NULL,
	[L2100C_N403] [varchar](256) NULL,
	[L2100C_N404] [varchar](256) NULL,
	[L2100C_N405] [varchar](256) NULL,
	[L2100C_N406] [varchar](256) NULL,
	[L2100C_N407] [varchar](256) NULL,
	[L2100F_NM101] [varchar](256) NULL,
	[L2100F_NM102] [varchar](256) NULL,
	[L2100F_NM103] [varchar](256) NULL,
	[L2100F_NM104] [varchar](256) NULL,
	[L2100F_NM105] [varchar](256) NULL,
	[L2100F_NM106] [varchar](256) NULL,
	[L2100F_NM107] [varchar](256) NULL,
	[L2100F_NM108] [varchar](256) NULL,
	[L2100F_NM109] [varchar](256) NULL,
	[L2100F_NM110] [varchar](256) NULL,
	[L2100F_NM111] [varchar](256) NULL,
	[L2100F_NM112] [varchar](256) NULL,
	[L210FE_PER01] [varchar](256) NULL,
	[L210FE_PER02] [varchar](256) NULL,
	[L210FE_PER03] [varchar](256) NULL,
	[L210FE_PER04] [varchar](256) NULL,
	[L210FE_PER05] [varchar](256) NULL,
	[L210FE_PER06] [varchar](256) NULL,
	[L210FE_PER07] [varchar](256) NULL,
	[L210FE_PER08] [varchar](256) NULL,
	[L210FE_PER09] [varchar](256) NULL,
	[L2100F_N301] [varchar](256) NULL,
	[L2100F_N302] [varchar](256) NULL,
	[L2100F_N401] [varchar](256) NULL,
	[L2100F_N402] [varchar](256) NULL,
	[L2100F_N403] [varchar](256) NULL,
	[L2100F_N404] [varchar](256) NULL,
	[L2100F_N405] [varchar](256) NULL,
	[L2100F_N406] [varchar](256) NULL,
	[L2100F_N407] [varchar](256) NULL,
	[L2100H_NM101] [varchar](256) NULL,
	[L2100H_NM102] [varchar](256) NULL,
	[L2100H_NM103] [varchar](256) NULL,
	[L2100H_NM104] [varchar](256) NULL,
	[L2100H_NM105] [varchar](256) NULL,
	[L2100H_NM106] [varchar](256) NULL,
	[L2100H_NM107] [varchar](256) NULL,
	[L2100H_NM108] [varchar](256) NULL,
	[L2100H_NM109] [varchar](256) NULL,
	[L2100H_NM110] [varchar](256) NULL,
	[L2100H_NM111] [varchar](256) NULL,
	[L2100H_NM112] [varchar](256) NULL,
	[L2100H_N301] [varchar](256) NULL,
	[L2100H_N302] [varchar](256) NULL,
	[L2100H_N401] [varchar](256) NULL,
	[L2100H_N402] [varchar](256) NULL,
	[L2100H_N403] [varchar](256) NULL,
	[L2100H_N404] [varchar](256) NULL,
	[L2100H_N405] [varchar](256) NULL,
	[L2100H_N406] [varchar](256) NULL,
	[L2100H_N407] [varchar](256) NULL,
	[L2000_LS01] [varchar](256) NULL,
	[L2000_LE01] [varchar](256) NULL,
 CONSTRAINT [PK_L2000] PRIMARY KEY CLUSTERED 
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2000_DTP]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2000_DTP](
	[L2000_DTPId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2000Id] [bigint] NOT NULL,
	[L2000_DTP01] [varchar](256) NULL,
	[L2000_DTP02] [varchar](256) NULL,
	[L2000_DTP03] [varchar](256) NULL,
 CONSTRAINT [PK_L2000_DTP] PRIMARY KEY CLUSTERED 
(
	[L2000_DTPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2000_REF]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2000_REF](
	[L2000_REFId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2000Id] [bigint] NOT NULL,
	[L2000_MemberSupplementalIdentifier_REF01] [varchar](256) NULL,
	[L2000_MemberSupplementalIdentifier_REF02] [varchar](256) NULL,
	[L2000_MemberSupplementalIdentifier_REF03] [varchar](256) NULL,
 CONSTRAINT [PK_L2000_REF] PRIMARY KEY CLUSTERED 
(
	[L2000_REFId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2100A_AMT]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2100A_AMT](
	[L2100A_AMTId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2000Id] [bigint] NOT NULL,
	[L2100A_AMT01] [varchar](256) NULL,
	[L2100A_AMT02] [varchar](256) NULL,
	[L2100A_AMT03] [varchar](256) NULL,
 CONSTRAINT [PK_L2100A_AMT] PRIMARY KEY CLUSTERED 
(
	[L2100A_AMTId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2100A_EC]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2100A_EC](
	[L2100A_ECId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2000Id] [bigint] NOT NULL,
	[L2100A_EC01] [varchar](256) NULL,
	[L2100A_EC02] [varchar](256) NULL,
	[L2100A_EC03] [varchar](256) NULL,
	[L2100A_EC04] [varchar](256) NULL,
	[L2100A_EC05] [varchar](256) NULL,
	[L2100A_EC06] [varchar](256) NULL,
 CONSTRAINT [PK_L2100A_EC] PRIMARY KEY CLUSTERED 
(
	[L2100A_ECId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2100A_LUI]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2100A_LUI](
	[L2100A_LUIId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2000Id] [bigint] NOT NULL,
	[L2100A_LUI01] [varchar](256) NULL,
	[L2100A_LUI02] [varchar](256) NULL,
	[L2100A_LUI03] [varchar](256) NULL,
	[L2100A_LUI04] [varchar](256) NULL,
	[L2100A_LUI05] [varchar](256) NULL,
 CONSTRAINT [PK_L2100A_LUI] PRIMARY KEY CLUSTERED 
(
	[L2100A_LUIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2100D]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2100D](
	[L2100DId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2000Id] [bigint] NOT NULL,
	[L2100D_NM101] [varchar](256) NULL,
	[L2100D_NM102] [varchar](256) NULL,
	[L2100D_NM103] [varchar](256) NULL,
	[L2100D_NM104] [varchar](256) NULL,
	[L2100D_NM105] [varchar](256) NULL,
	[L2100D_NM106] [varchar](256) NULL,
	[L2100D_NM107] [varchar](256) NULL,
	[L2100D_NM108] [varchar](256) NULL,
	[L2100D_NM109] [varchar](256) NULL,
	[L2100D_NM110] [varchar](256) NULL,
	[L2100D_NM111] [varchar](256) NULL,
	[L2100D_NM112] [varchar](256) NULL,
	[L2100D_PER01] [varchar](256) NULL,
	[L2100D_PER02] [varchar](256) NULL,
	[L2100D_PER03] [varchar](256) NULL,
	[L2100D_PER04] [varchar](256) NULL,
	[L2100D_PER05] [varchar](256) NULL,
	[L2100D_PER06] [varchar](256) NULL,
	[L2100D_PER07] [varchar](256) NULL,
	[L2100D_PER08] [varchar](256) NULL,
	[L2100D_PER09] [varchar](256) NULL,
	[L2100D_N301] [varchar](256) NULL,
	[L2100D_N302] [varchar](256) NULL,
	[L2100D_N401] [varchar](256) NULL,
	[L2100D_N402] [varchar](256) NULL,
	[L2100D_N403] [varchar](256) NULL,
	[L2100D_N404] [varchar](256) NULL,
	[L2100D_N405] [varchar](256) NULL,
	[L2100D_N406] [varchar](256) NULL,
	[L2100D_N407] [varchar](256) NULL,
 CONSTRAINT [PK_L2100D] PRIMARY KEY CLUSTERED 
(
	[L2100DId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2100E]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2100E](
	[L2100EId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2000Id] [bigint] NOT NULL,
	[L2100E_NM101] [varchar](256) NULL,
	[L2100E_NM102] [varchar](256) NULL,
	[L2100E_NM103] [varchar](256) NULL,
	[L2100E_NM104] [varchar](256) NULL,
	[L2100E_NM105] [varchar](256) NULL,
	[L2100E_NM106] [varchar](256) NULL,
	[L2100E_NM107] [varchar](256) NULL,
	[L2100E_NM108] [varchar](256) NULL,
	[L2100E_NM109] [varchar](256) NULL,
	[L2100E_NM110] [varchar](256) NULL,
	[L2100E_NM111] [varchar](256) NULL,
	[L2100E_NM112] [varchar](256) NULL,
	[L2100E_PER01] [varchar](256) NULL,
	[L2100E_PER02] [varchar](256) NULL,
	[L2100E_PER03] [varchar](256) NULL,
	[L2100E_PER04] [varchar](256) NULL,
	[L2100E_PER05] [varchar](256) NULL,
	[L2100E_PER06] [varchar](256) NULL,
	[L2100E_PER07] [varchar](256) NULL,
	[L2100E_PER08] [varchar](256) NULL,
	[L2100E_PER09] [varchar](256) NULL,
	[L2100E_N301] [varchar](256) NULL,
	[L2100E_N302] [varchar](256) NULL,
	[L2100E_N401] [varchar](256) NULL,
	[L2100E_N402] [varchar](256) NULL,
	[L2100E_N403] [varchar](256) NULL,
	[L2100E_N404] [varchar](256) NULL,
	[L2100E_N405] [varchar](256) NULL,
	[L2100E_N406] [varchar](256) NULL,
	[L2100E_N407] [varchar](256) NULL,
 CONSTRAINT [PK_L2100E] PRIMARY KEY CLUSTERED 
(
	[L2100EId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2100G]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2100G](
	[L2100GId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2000Id] [bigint] NOT NULL,
	[L2100G_NM101] [varchar](256) NULL,
	[L2100G_NM102] [varchar](256) NULL,
	[L2100G_NM103] [varchar](256) NULL,
	[L2100G_NM104] [varchar](256) NULL,
	[L2100G_NM105] [varchar](256) NULL,
	[L2100G_NM106] [varchar](256) NULL,
	[L2100G_NM107] [varchar](256) NULL,
	[L2100G_NM108] [varchar](256) NULL,
	[L2100G_NM109] [varchar](256) NULL,
	[L2100G_NM110] [varchar](256) NULL,
	[L2100G_NM111] [varchar](256) NULL,
	[L2100G_NM112] [varchar](256) NULL,
	[L2100G_PER01] [varchar](256) NULL,
	[L2100G_PER02] [varchar](256) NULL,
	[L2100G_PER03] [varchar](256) NULL,
	[L2100G_PER04] [varchar](256) NULL,
	[L2100G_PER05] [varchar](256) NULL,
	[L2100G_PER06] [varchar](256) NULL,
	[L2100G_PER07] [varchar](256) NULL,
	[L2100G_PER08] [varchar](256) NULL,
	[L2100G_PER09] [varchar](256) NULL,
	[L2100G_N301] [varchar](256) NULL,
	[L2100G_N302] [varchar](256) NULL,
	[L2100G_N401] [varchar](256) NULL,
	[L2100G_N402] [varchar](256) NULL,
	[L2100G_N403] [varchar](256) NULL,
	[L2100G_N404] [varchar](256) NULL,
	[L2100G_N405] [varchar](256) NULL,
	[L2100G_N406] [varchar](256) NULL,
	[L2100G_N407] [varchar](256) NULL,
 CONSTRAINT [PK_L2100G] PRIMARY KEY CLUSTERED 
(
	[L2100GId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2200]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2200](
	[L2200Id] [bigint] IDENTITY(1,10) NOT NULL,
	[L2000Id] [bigint] NOT NULL,
	[L21200_DSB01] [varchar](256) NULL,
	[L21200_DSB02] [varchar](256) NULL,
	[L21200_DSB03] [varchar](256) NULL,
	[L21200_DSB04] [varchar](256) NULL,
	[L21200_DSB05] [varchar](256) NULL,
	[L21200_DSB06] [varchar](256) NULL,
	[L21200_DSB07] [varchar](256) NULL,
	[L21200_DSB08] [varchar](256) NULL,
 CONSTRAINT [PK_L2200] PRIMARY KEY CLUSTERED 
(
	[L2200Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2200_DTP]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2200_DTP](
	[L2200_DTPId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2200Id] [bigint] NOT NULL,
	[L2200_DTP01] [varchar](256) NULL,
	[L2200_DTP02] [varchar](256) NULL,
	[L2200_DTP03] [varchar](256) NULL,
 CONSTRAINT [PK_L2200_DTP] PRIMARY KEY CLUSTERED 
(
	[L2200_DTPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2300]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2300](
	[L2300Id] [bigint] IDENTITY(1,10) NOT NULL,
	[L2000Id] [bigint] NOT NULL,
	[L2300_HD01] [varchar](256) NULL,
	[L2300_HD02] [varchar](256) NULL,
	[L2300_HD03] [varchar](256) NULL,
	[L2300_HD04] [varchar](256) NULL,
	[L2300_HD05] [varchar](256) NULL,
	[L2300_HD06] [varchar](256) NULL,
	[L2300_HD07] [varchar](256) NULL,
	[L2300_HD08] [varchar](256) NULL,
	[L2300_HD09] [varchar](256) NULL,
	[L2300_HD10] [varchar](256) NULL,
	[L2300_HD11] [varchar](256) NULL,
	[REF01] [varchar](256) NULL,
	[REF02] [varchar](256) NULL,
	[REF03] [varchar](256) NULL,
 CONSTRAINT [PK_L2300] PRIMARY KEY CLUSTERED 
(
	[L2300Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2300_AMT]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2300_AMT](
	[L2300_AMTId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2300Id] [bigint] NOT NULL,
	[L2300_AMT01] [varchar](256) NULL,
	[L2300_AMT02] [varchar](256) NULL,
	[L2300_AMT03] [varchar](256) NULL,
 CONSTRAINT [PK_L2300_AMT] PRIMARY KEY CLUSTERED 
(
	[L2300_AMTId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2300_DTP]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2300_DTP](
	[L2300_DTPId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2300Id] [bigint] NOT NULL,
	[L2300_DTP01] [varchar](256) NULL,
	[L2300_DTP02] [varchar](256) NULL,
	[L2300_DTP03] [varchar](256) NULL,
 CONSTRAINT [PK_L2300_DTP] PRIMARY KEY CLUSTERED 
(
	[L2300_DTPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2300_IDC]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2300_IDC](
	[L2300_IDCId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2300Id] [bigint] NOT NULL,
	[L2300_IDC01] [varchar](256) NULL,
	[L2300_IDC02] [varchar](256) NULL,
	[L2300_IDC03] [varchar](256) NULL,
	[L2300_IDC04] [varchar](256) NULL,
 CONSTRAINT [PK_L2300_IDC] PRIMARY KEY CLUSTERED 
(
	[L2300_IDCId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2300_REF]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2300_REF](
	[L2300_REFId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2300Id] [bigint] NOT NULL,
	[L2300_REF01] [varchar](256) NULL,
	[L2300_REF02] [varchar](256) NULL,
	[L2300_REF03] [varchar](256) NULL,
 CONSTRAINT [PK_L2300_REF] PRIMARY KEY CLUSTERED 
(
	[L2300_REFId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2310]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2310](
	[L2310Id] [bigint] IDENTITY(1,10) NOT NULL,
	[L2300Id] [bigint] NOT NULL,
	[L2310_LX01] [varchar](256) NULL,
	[L2310_NM101] [varchar](256) NULL,
	[L2310_NM102] [varchar](256) NULL,
	[L2310_NM103] [varchar](256) NULL,
	[L2310_NM104] [varchar](256) NULL,
	[L2310_NM105] [varchar](256) NULL,
	[L2310_NM106] [varchar](256) NULL,
	[L2310_NM107] [varchar](256) NULL,
	[L2310_NM108] [varchar](256) NULL,
	[L2310_NM109] [varchar](256) NULL,
	[L2310_NM110] [varchar](256) NULL,
	[L2310_NM111] [varchar](256) NULL,
	[L2310_NM112] [varchar](256) NULL,
	[L2310_N401] [varchar](256) NULL,
	[L2310_N402] [varchar](256) NULL,
	[L2310_N403] [varchar](256) NULL,
	[L2310_N404] [varchar](256) NULL,
	[L2310_N405] [varchar](256) NULL,
	[L2310_N406] [varchar](256) NULL,
	[L2310_N407] [varchar](256) NULL,
	[PLA01] [varchar](256) NULL,
	[PLA02] [varchar](256) NULL,
	[PLA03] [varchar](256) NULL,
	[PLA04] [varchar](256) NULL,
	[PLA05] [varchar](256) NULL,
 CONSTRAINT [PK_L2310] PRIMARY KEY CLUSTERED 
(
	[L2310Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2310_N3]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2310_N3](
	[L2310_N3Id] [bigint] IDENTITY(1,10) NOT NULL,
	[L2310Id] [bigint] NOT NULL,
	[L2310_N301] [varchar](256) NULL,
	[L2310_N302] [varchar](256) NULL,
 CONSTRAINT [PK_L2310_N3] PRIMARY KEY CLUSTERED 
(
	[L2310_N3Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2310_PER]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2310_PER](
	[L2310_PERId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2310Id] [bigint] NOT NULL,
	[L2310_PER01] [varchar](256) NULL,
	[L2310_PER02] [varchar](256) NULL,
	[L2310_PER03] [varchar](256) NULL,
	[L2310_PER04] [varchar](256) NULL,
	[L2310_PER05] [varchar](256) NULL,
	[L2310_PER06] [varchar](256) NULL,
	[L2310_PER07] [varchar](256) NULL,
	[L2310_PER08] [varchar](256) NULL,
	[L2310_PER09] [varchar](256) NULL,
 CONSTRAINT [PK_L2310_PER] PRIMARY KEY CLUSTERED 
(
	[L2310_PERId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2320]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2320](
	[L2320Id] [bigint] IDENTITY(1,10) NOT NULL,
	[L2300Id] [bigint] NOT NULL,
	[L2320_COB01] [varchar](256) NULL,
	[L2320_COB02] [varchar](256) NULL,
	[L2320_COB03] [varchar](256) NULL,
	[L2320_COB04] [varchar](256) NULL,
 CONSTRAINT [PK_L2320] PRIMARY KEY CLUSTERED 
(
	[L2320Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2320_DTP]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2320_DTP](
	[L2320_DTPId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2320Id] [bigint] NOT NULL,
	[L2320_DTP01] [varchar](256) NULL,
	[L2320_DTP02] [varchar](256) NULL,
	[L2320_DTP03] [varchar](256) NULL,
 CONSTRAINT [PK_L2320_DTP] PRIMARY KEY CLUSTERED 
(
	[L2320_DTPId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2320_REF]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2320_REF](
	[L2320_REFId] [bigint] IDENTITY(1,10) NOT NULL,
	[L2320Id] [bigint] NOT NULL,
	[REF01] [varchar](256) NULL,
	[REF02] [varchar](256) NULL,
	[REF03] [varchar](256) NULL,
 CONSTRAINT [PK_L2320_REF] PRIMARY KEY CLUSTERED 
(
	[L2320_REFId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2330]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2330](
	[L2330Id] [bigint] IDENTITY(1,10) NOT NULL,
	[L2320Id] [bigint] NOT NULL,
	[L2330_NM101] [varchar](256) NULL,
	[L2330_NM102] [varchar](256) NULL,
	[L2330_NM103] [varchar](256) NULL,
	[L2330_NM104] [varchar](256) NULL,
	[L2330_NM105] [varchar](256) NULL,
	[L2330_NM106] [varchar](256) NULL,
	[L2330_NM107] [varchar](256) NULL,
	[L2330_NM108] [varchar](256) NULL,
	[L2330_NM109] [varchar](256) NULL,
	[L2330_NM110] [varchar](256) NULL,
	[L2330_NM111] [varchar](256) NULL,
	[L2330_NM112] [varchar](256) NULL,
	[L2330_N301] [varchar](256) NULL,
	[L2330_N302] [varchar](256) NULL,
	[L2330_N401] [varchar](256) NULL,
	[L2330_N402] [varchar](256) NULL,
	[L2330_N403] [varchar](256) NULL,
	[L2330_N404] [varchar](256) NULL,
	[L2330_N405] [varchar](256) NULL,
	[L2330_N406] [varchar](256) NULL,
	[L2330_N407] [varchar](256) NULL,
	[L2330_PER01] [varchar](256) NULL,
	[L2330_PER02] [varchar](256) NULL,
	[L2330_PER03] [varchar](256) NULL,
	[L2330_PER04] [varchar](256) NULL,
	[L2330_PER05] [varchar](256) NULL,
	[L2330_PER06] [varchar](256) NULL,
	[L2330_PER07] [varchar](256) NULL,
	[L2330_PER08] [varchar](256) NULL,
	[L2330_PER09] [varchar](256) NULL,
 CONSTRAINT [PK_L2330] PRIMARY KEY CLUSTERED 
(
	[L2330Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[L2700]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[L2700](
	[L2700Id] [bigint] IDENTITY(1,10) NOT NULL,
	[L2000Id] [bigint] NOT NULL,
	[L2700_LX01] [varchar](256) NULL,
	[L2750_N101] [varchar](256) NULL,
	[L2750_N102] [varchar](256) NULL,
	[L2750_N103] [varchar](256) NULL,
	[L2750_N104] [varchar](256) NULL,
	[L2750_N105] [varchar](256) NULL,
	[L2750_N106] [varchar](256) NULL,
	[L2750_REF01] [varchar](256) NULL,
	[L2750_REF02] [varchar](256) NULL,
	[L2750_REF03] [varchar](256) NULL,
	[L2750_DTP01] [varchar](256) NULL,
	[L2750_DTP02] [varchar](256) NULL,
	[L2750_DTP03] [varchar](256) NULL,
 CONSTRAINT [PK_L2700] PRIMARY KEY CLUSTERED 
(
	[L2700Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [X12834].[X12]    Script Date: 12/10/2017 9:50:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [X12834].[X12](
	[X12Id] [bigint] IDENTITY(1,10) NOT NULL,
	[TransmissionId] [bigint] NULL,
	[SourceTransmissionId] [bigint] NULL,
	[Attachment] [varchar](max) NULL,
	[Tag] [varchar](256) NULL,
	[CorrectionTypeId] [smallint] NULL,
	[ISA_String] [varchar](256) NULL,
	[ISA01] [varchar](256) NULL,
	[ISA02] [varchar](256) NULL,
	[ISA03] [varchar](256) NULL,
	[ISA04] [varchar](256) NULL,
	[ISA05] [varchar](256) NULL,
	[ISA06] [varchar](256) NULL,
	[ISA07] [varchar](256) NULL,
	[ISA08] [varchar](256) NULL,
	[ISA09] [varchar](256) NULL,
	[ISA10] [varchar](256) NULL,
	[ISA11] [varchar](256) NULL,
	[ISA12] [varchar](256) NULL,
	[ISA13] [varchar](256) NULL,
	[ISA14] [varchar](256) NULL,
	[ISA15] [varchar](256) NULL,
	[ISA16] [varchar](256) NULL,
	[GS01] [varchar](256) NULL,
	[GS02] [varchar](256) NULL,
	[GS03] [varchar](256) NULL,
	[GS04] [varchar](256) NULL,
	[GS05] [varchar](256) NULL,
	[GS06] [varchar](256) NULL,
	[GS07] [varchar](256) NULL,
	[GS08] [varchar](256) NULL,
	[ST01] [varchar](256) NULL,
	[ST02] [varchar](256) NULL,
	[ST03] [varchar](256) NULL,
	[CreatedBy] [nvarchar](128) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_X12] PRIMARY KEY CLUSTERED 
(
	[X12Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Index [IX_L1000_X12Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L1000_X12Id] ON [X12834].[L1000]
(
	[X12Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L1000_DTP_L1000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L1000_DTP_L1000Id] ON [X12834].[L1000_DTP]
(
	[L1000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L1000_QTY_L1000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L1000_QTY_L1000Id] ON [X12834].[L1000_QTY]
(
	[L1000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L1000C_L1000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L1000C_L1000Id] ON [X12834].[L1000C]
(
	[L1000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2000_L1000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2000_L1000Id] ON [X12834].[L2000]
(
	[L1000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2000_DTP_L2000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2000_DTP_L2000Id] ON [X12834].[L2000_DTP]
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2000_REF_L2000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2000_REF_L2000Id] ON [X12834].[L2000_REF]
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2100A_AMT_L2000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2100A_AMT_L2000Id] ON [X12834].[L2100A_AMT]
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2100A_EC_L2000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2100A_EC_L2000Id] ON [X12834].[L2100A_EC]
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2100A_LUI_L2000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2100A_LUI_L2000Id] ON [X12834].[L2100A_LUI]
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2100D_L2000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2100D_L2000Id] ON [X12834].[L2100D]
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2100E_L2000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2100E_L2000Id] ON [X12834].[L2100E]
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2100G_L2000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2100G_L2000Id] ON [X12834].[L2100G]
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2200_L2000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2200_L2000Id] ON [X12834].[L2200]
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2200_DTP_L2200Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2200_DTP_L2200Id] ON [X12834].[L2200_DTP]
(
	[L2200Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2300_L2000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2300_L2000Id] ON [X12834].[L2300]
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2300_AMT_L2300Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2300_AMT_L2300Id] ON [X12834].[L2300_AMT]
(
	[L2300Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2300_DTP_L2300Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2300_DTP_L2300Id] ON [X12834].[L2300_DTP]
(
	[L2300Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2300_IDC_L2300Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2300_IDC_L2300Id] ON [X12834].[L2300_IDC]
(
	[L2300Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2300_REF_L2300Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2300_REF_L2300Id] ON [X12834].[L2300_REF]
(
	[L2300Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2310_L2300Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2310_L2300Id] ON [X12834].[L2310]
(
	[L2300Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2310_N3_L2310Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2310_N3_L2310Id] ON [X12834].[L2310_N3]
(
	[L2310Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2310_PER_L2310Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2310_PER_L2310Id] ON [X12834].[L2310_PER]
(
	[L2310Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2320_L2300Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2320_L2300Id] ON [X12834].[L2320]
(
	[L2300Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2320_DTP_L2320Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2320_DTP_L2320Id] ON [X12834].[L2320_DTP]
(
	[L2320Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2320_REF_L2320Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2320_REF_L2320Id] ON [X12834].[L2320_REF]
(
	[L2320Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2330_L2320Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2330_L2320Id] ON [X12834].[L2330]
(
	[L2320Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_L2700_L2000Id]    Script Date: 12/10/2017 9:50:27 PM ******/
CREATE NONCLUSTERED INDEX [IX_L2700_L2000Id] ON [X12834].[L2700]
(
	[L2000Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [X12834].[X12] ADD  DEFAULT (suser_name()) FOR [CreatedBy]
GO
ALTER TABLE [X12834].[X12] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [X12834].[L1000]  WITH CHECK ADD  CONSTRAINT [FK_L1000_X12Id] FOREIGN KEY([X12Id])
REFERENCES [X12834].[X12] ([X12Id])
GO
ALTER TABLE [X12834].[L1000] CHECK CONSTRAINT [FK_L1000_X12Id]
GO
ALTER TABLE [X12834].[L1000_DTP]  WITH CHECK ADD  CONSTRAINT [FK_L1000_DTP_L1000Id] FOREIGN KEY([L1000Id])
REFERENCES [X12834].[L1000] ([L1000Id])
GO
ALTER TABLE [X12834].[L1000_DTP] CHECK CONSTRAINT [FK_L1000_DTP_L1000Id]
GO
ALTER TABLE [X12834].[L1000_QTY]  WITH CHECK ADD  CONSTRAINT [FK_L1000_QTY_L1000Id] FOREIGN KEY([L1000Id])
REFERENCES [X12834].[L1000] ([L1000Id])
GO
ALTER TABLE [X12834].[L1000_QTY] CHECK CONSTRAINT [FK_L1000_QTY_L1000Id]
GO
ALTER TABLE [X12834].[L1000C]  WITH CHECK ADD  CONSTRAINT [FK_L1000C_L1000Id] FOREIGN KEY([L1000Id])
REFERENCES [X12834].[L1000] ([L1000Id])
GO
ALTER TABLE [X12834].[L1000C] CHECK CONSTRAINT [FK_L1000C_L1000Id]
GO
ALTER TABLE [X12834].[L2000]  WITH CHECK ADD  CONSTRAINT [FK_L2000_L1000Id] FOREIGN KEY([L1000Id])
REFERENCES [X12834].[L1000] ([L1000Id])
GO
ALTER TABLE [X12834].[L2000] CHECK CONSTRAINT [FK_L2000_L1000Id]
GO
ALTER TABLE [X12834].[L2000_DTP]  WITH CHECK ADD  CONSTRAINT [FK_L2000_DTP_L2000Id] FOREIGN KEY([L2000Id])
REFERENCES [X12834].[L2000] ([L2000Id])
GO
ALTER TABLE [X12834].[L2000_DTP] CHECK CONSTRAINT [FK_L2000_DTP_L2000Id]
GO
ALTER TABLE [X12834].[L2000_REF]  WITH CHECK ADD  CONSTRAINT [FK_L2000_REF_L2000Id] FOREIGN KEY([L2000Id])
REFERENCES [X12834].[L2000] ([L2000Id])
GO
ALTER TABLE [X12834].[L2000_REF] CHECK CONSTRAINT [FK_L2000_REF_L2000Id]
GO
ALTER TABLE [X12834].[L2100A_AMT]  WITH CHECK ADD  CONSTRAINT [FK_L2100A_AMT_L2000Id] FOREIGN KEY([L2000Id])
REFERENCES [X12834].[L2000] ([L2000Id])
GO
ALTER TABLE [X12834].[L2100A_AMT] CHECK CONSTRAINT [FK_L2100A_AMT_L2000Id]
GO
ALTER TABLE [X12834].[L2100A_EC]  WITH CHECK ADD  CONSTRAINT [FK_L2100A_EC_L2000Id] FOREIGN KEY([L2000Id])
REFERENCES [X12834].[L2000] ([L2000Id])
GO
ALTER TABLE [X12834].[L2100A_EC] CHECK CONSTRAINT [FK_L2100A_EC_L2000Id]
GO
ALTER TABLE [X12834].[L2100A_LUI]  WITH CHECK ADD  CONSTRAINT [FK_L2100A_LUI_L2000Id] FOREIGN KEY([L2000Id])
REFERENCES [X12834].[L2000] ([L2000Id])
GO
ALTER TABLE [X12834].[L2100A_LUI] CHECK CONSTRAINT [FK_L2100A_LUI_L2000Id]
GO
ALTER TABLE [X12834].[L2100D]  WITH CHECK ADD  CONSTRAINT [FK_L2100D_L2000Id] FOREIGN KEY([L2000Id])
REFERENCES [X12834].[L2000] ([L2000Id])
GO
ALTER TABLE [X12834].[L2100D] CHECK CONSTRAINT [FK_L2100D_L2000Id]
GO
ALTER TABLE [X12834].[L2100E]  WITH CHECK ADD  CONSTRAINT [FK_L2100E_L2000Id] FOREIGN KEY([L2000Id])
REFERENCES [X12834].[L2000] ([L2000Id])
GO
ALTER TABLE [X12834].[L2100E] CHECK CONSTRAINT [FK_L2100E_L2000Id]
GO
ALTER TABLE [X12834].[L2100G]  WITH CHECK ADD  CONSTRAINT [FK_L2100G_L2000Id] FOREIGN KEY([L2000Id])
REFERENCES [X12834].[L2000] ([L2000Id])
GO
ALTER TABLE [X12834].[L2100G] CHECK CONSTRAINT [FK_L2100G_L2000Id]
GO
ALTER TABLE [X12834].[L2200]  WITH CHECK ADD  CONSTRAINT [FK_L2200_L2000Id] FOREIGN KEY([L2000Id])
REFERENCES [X12834].[L2000] ([L2000Id])
GO
ALTER TABLE [X12834].[L2200] CHECK CONSTRAINT [FK_L2200_L2000Id]
GO
ALTER TABLE [X12834].[L2200_DTP]  WITH CHECK ADD  CONSTRAINT [FK_L2200_DTP_L2200Id] FOREIGN KEY([L2200Id])
REFERENCES [X12834].[L2200] ([L2200Id])
GO
ALTER TABLE [X12834].[L2200_DTP] CHECK CONSTRAINT [FK_L2200_DTP_L2200Id]
GO
ALTER TABLE [X12834].[L2300]  WITH CHECK ADD  CONSTRAINT [FK_L2300_L2000Id] FOREIGN KEY([L2000Id])
REFERENCES [X12834].[L2000] ([L2000Id])
GO
ALTER TABLE [X12834].[L2300] CHECK CONSTRAINT [FK_L2300_L2000Id]
GO
ALTER TABLE [X12834].[L2300_AMT]  WITH CHECK ADD  CONSTRAINT [FK_L2300_AMT_L2300Id] FOREIGN KEY([L2300Id])
REFERENCES [X12834].[L2300] ([L2300Id])
GO
ALTER TABLE [X12834].[L2300_AMT] CHECK CONSTRAINT [FK_L2300_AMT_L2300Id]
GO
ALTER TABLE [X12834].[L2300_DTP]  WITH CHECK ADD  CONSTRAINT [FK_L2300_DTP_L2300Id] FOREIGN KEY([L2300Id])
REFERENCES [X12834].[L2300] ([L2300Id])
GO
ALTER TABLE [X12834].[L2300_DTP] CHECK CONSTRAINT [FK_L2300_DTP_L2300Id]
GO
ALTER TABLE [X12834].[L2300_IDC]  WITH CHECK ADD  CONSTRAINT [FK_L2300_IDC_L2300Id] FOREIGN KEY([L2300Id])
REFERENCES [X12834].[L2300] ([L2300Id])
GO
ALTER TABLE [X12834].[L2300_IDC] CHECK CONSTRAINT [FK_L2300_IDC_L2300Id]
GO
ALTER TABLE [X12834].[L2300_REF]  WITH CHECK ADD  CONSTRAINT [FK_L2300_REF_L2300Id] FOREIGN KEY([L2300Id])
REFERENCES [X12834].[L2300] ([L2300Id])
GO
ALTER TABLE [X12834].[L2300_REF] CHECK CONSTRAINT [FK_L2300_REF_L2300Id]
GO
ALTER TABLE [X12834].[L2310]  WITH CHECK ADD  CONSTRAINT [FK_L2310_L2300Id] FOREIGN KEY([L2300Id])
REFERENCES [X12834].[L2300] ([L2300Id])
GO
ALTER TABLE [X12834].[L2310] CHECK CONSTRAINT [FK_L2310_L2300Id]
GO
ALTER TABLE [X12834].[L2310_N3]  WITH CHECK ADD  CONSTRAINT [FK_L2310_N3_L2310Id] FOREIGN KEY([L2310Id])
REFERENCES [X12834].[L2310] ([L2310Id])
GO
ALTER TABLE [X12834].[L2310_N3] CHECK CONSTRAINT [FK_L2310_N3_L2310Id]
GO
ALTER TABLE [X12834].[L2310_PER]  WITH CHECK ADD  CONSTRAINT [FK_L2310_PER_L2310Id] FOREIGN KEY([L2310Id])
REFERENCES [X12834].[L2310] ([L2310Id])
GO
ALTER TABLE [X12834].[L2310_PER] CHECK CONSTRAINT [FK_L2310_PER_L2310Id]
GO
ALTER TABLE [X12834].[L2320]  WITH CHECK ADD  CONSTRAINT [FK_L2320_L2300Id] FOREIGN KEY([L2300Id])
REFERENCES [X12834].[L2300] ([L2300Id])
GO
ALTER TABLE [X12834].[L2320] CHECK CONSTRAINT [FK_L2320_L2300Id]
GO
ALTER TABLE [X12834].[L2320_DTP]  WITH CHECK ADD  CONSTRAINT [FK_L2320_DTP_L2320Id] FOREIGN KEY([L2320Id])
REFERENCES [X12834].[L2320] ([L2320Id])
GO
ALTER TABLE [X12834].[L2320_DTP] CHECK CONSTRAINT [FK_L2320_DTP_L2320Id]
GO
ALTER TABLE [X12834].[L2320_REF]  WITH CHECK ADD  CONSTRAINT [FK_L2320_REF_L2320Id] FOREIGN KEY([L2320Id])
REFERENCES [X12834].[L2320] ([L2320Id])
GO
ALTER TABLE [X12834].[L2320_REF] CHECK CONSTRAINT [FK_L2320_REF_L2320Id]
GO
ALTER TABLE [X12834].[L2330]  WITH CHECK ADD  CONSTRAINT [FK_L2330_L2320Id] FOREIGN KEY([L2320Id])
REFERENCES [X12834].[L2320] ([L2320Id])
GO
ALTER TABLE [X12834].[L2330] CHECK CONSTRAINT [FK_L2330_L2320Id]
GO
ALTER TABLE [X12834].[L2700]  WITH CHECK ADD  CONSTRAINT [FK_L2700_L2000Id] FOREIGN KEY([L2000Id])
REFERENCES [X12834].[L2000] ([L2000Id])
GO
ALTER TABLE [X12834].[L2700] CHECK CONSTRAINT [FK_L2700_L2000Id]
GO
USE [master]
GO
